
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.gray_1{
    color: #8987A1;
}

.gray_2{
    color: rgba(107, 114, 128, 1);
}

.font_design_1{
    font-weight: 400;
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
}

.font_design_2{
    font-weight: 700;
    font-size: 3.125rem;
}

.display_flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    
}

.nav_items{
    list-style: none;
    margin: 48px;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 30px auto;
}
.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.banner_left{
    width: 50%;
    padding-left: 20px;
}

.t_1st{
    color: #000000;
    font-weight: 700;
    font-size: 4.06rem;
}
.t_2nd{
    color: #E95A08;
    font-weight: 700;
    font-size: 4.06rem;
}

.banner_img{
    width: 50%;
}
.banner_img img{
    width: 100%;
    height: auto;
    display: block;

}

.plant_section{
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
}

.plant_title{
    margin: 16px;
}
.our{
    color: #E95A08;

}
.plant{
    color: #000000;
}

/* Rsponsive section */
@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner_left{
        width: 100%; 
        padding: 10px;
    }
    .banner_img{
        width: 100%;
    }
    .banner_img img{
        width: 100%;
        height: auto;
        display: block;
    }

    .nav_items{
        visibility: hidden;
    }
}



